<div class="col-md-3">
  <h3><%= link_to product.name, product_path(product) %></h3>
  <h4><%= product.brand %></h4>
  <p><%= product.price %></p>
  <%= rating_for product, "product", disable_after_rate: true, cancel: false %>
</div>