<% provide(:title, "Home") %>
<% if current_user.try(:admin?) %>
  <%= render 'shared/product_list' %>
  <div class="row">
    <%= render 'new_product_form' %>
    <%= render 'new_category_form' %>
  </div>
<% else %>
<div class="center jumbotron">
  <p>Welcome</p>
  <p><%= link_to "View All Products", products_path %></p>
</div>
<% end %>