<h2><%= @category.name %></h2>
<% if @products.any? %>
<div class="row">
  <% @products.each do |product| %>
    <%= render partial: 'shared/product_card', locals: { product: product } %>
  <% end %>
</div>
<%= paginate @products %>
<% end %>