<div class="row"><h2>Products</h2></div>

<% if @products.present? %>
<div class="row">
  <% @products.each do |product| %>
    <%= render partial: 'shared/product_card', locals: { product: product } %>
  <% end %>
</div>

<% end %>
