<div class="row head-2 text-center">
<div class="col-md-12 catbar">
  <ul>
  <% if @categories %>
    <% @categories.each do |cat| %>
      <li><%= link_to cat.name, category_path(cat) %></li>
    <% end %>
  <% end %>
  </ul>
</div>
</div>