<div class="row head-2">
<div class="col-md-6 catbar">
  <ul class="nav navbar-nav">
  <% if @categories %>
    <% @categories.each do |cat| %>
      <li><%= link_to cat.name, category_path(cat) %></li>
    <% end %>
  <% end %>
  </ul>
</div>

<div class="col-md-4 col-md-offset-2 search-products-form">
<div class="form-inline">
  <%= form_tag products_path, method: 'get' do |f| %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
</div>